_current_backup
_Data
Output/*
Output_processing
Tests
*.bak
.RData
.Rhistory
.Rproj.user
.Ruserdata
CanWat.Rproj
CanWat_Start_test.R
Cases/*
!Cases/Case*
Driver_static/*
!Driver_static/Tree*
!Driver_static/ASTW_PAD_3D.csv
!Driver_static/ASTW_PAD_3D_description.txt
Driver_dynamic/*
!Driver_dynamic/exmpl*
!Driver_dynamic/Case*