_current_backup
_Data
Output/*
Output_processing
Tests
*.bak
.RData
.Rhistory
.Rproj.user
.Ruserdata
CanWat.Rproj
CanWat_Start_test.R
CanWat_Start_multi.R
Cases/*
!Cases/Case*
!Cases/ASTW_intChute_2010_3D_input.R
!Cases/Output_yz-cross-section.R
Driver_static/*
!Driver_static/Tree*
!Driver_static/ASTW_PAD_3D.csv
!Driver_static/ASTW_PAD_3D_description.txt
Driver_dynamic/*
!Driver_dynamic/exmpl*
!Driver_dynamic/Case*
Driver_parameter/*