_current_backup
_Data
Output/*
Output_processing
Tests
*.bak
.RData
.Rhistory
.Rproj.user
.Ruserdata
CanWat.Rproj
CanWat_Start_test.R
CanWat_Start_multi.R
Cases/*
!Cases/Case*
!Cases/ASTW_intChute_2010_3D_input.R
!Cases/ASTW0_output.R
!Cases/ASTW1_output.R
!Cases/Output_yz-cross-section.R
Driver_static/*
!Driver_static/Tree*
!Driver_static/ASTW_PAD_3D_2019_int.csv
Driver_dynamic/*
!Driver_dynamic/exmpl*
!Driver_dynamic/Case*
!Driver_dynamic/ASTW_CW_dynamic_driver_2010.csv
Driver_parameter/*
!Driver_parameter/CW_parameter-picea_abies_ASTW2008-2010.R